# Entorno virtual
venv/
.env
*.env

instance/
__pycache__/

# Archivos temporales o del sistema
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo

# Archivos de tests
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Archivos de IDEs
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# PyInstaller
*.spec
dist/
build/

# Logs y resultados
logs/
*.log

# Archivos de Jupyter Notebook (si aplica)
.ipynb_checkpoints/
